html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1.3;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
body {-webkit-text-size-adjust: none;}
body,html{/* height:100%; */}
mark {background-color: transparent;color: inherit;}
input::-moz-focus-inner {border: 0;padding: 0;}
html {box-sizing: border-box;}
@-ms-viewport {width: device-width;}
body {font-size: 13.5pt;background-color: #030f1f;color: #878e83;letter-spacing: -1px;}
h1, h2, h3, h4 {color: #007897;font-weight: normal;}
h1 {text-transform: lowercase;letter-spacing: -1px;margin-bottom: 1em;}
h2 {text-transform: lowercase;font-size: 1.6em;letter-spacing: -1px;margin-bottom: 1em;}
h3, h4 {color: #283121;margin-bottom: 0.5em;}
h3 {font-size: 1.2em;margin-bottom: 0.8em;}
h4 {font-size: 1em;}
strong {color: #474e43;}
ul {padding: 0.25em 0 0 0;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
section, article {margin: 0 0 60px 0;}
section:last-child, article:last-child {margin-bottom: 0;}

.container table { position: relative; background: #a5bde7; width: 100%; }
.container table td, div.container table th { text-align: center; height: 31px;}
.container table th { color: #fff; background: #516787;}
.container table td { color: #333; background: #f8f8f8;}
.container table tr td.edit_txt { height: 50px;}
.container table { border-top: 1px solid #222222;}
.container table th, div.container table td { border-bottom: 1px solid #ccc;}
.container table th { height: 50px;}
.container table td { height: 60px;}
.container table td:first-child img.list_char { width: auto; height: 58px; margin: 5px;}
.container table td.td_name { text-align: left; padding-left: 10px;}
.container table td.td_name a { color: #0067ff; font-weight: bold; font-size: 14px; text-decoration: none;}
.container table td.td_name a span { color: #ff6000; font-size: 15px;}
.container table td.td_name a:hover { text-decoration: underline;}
.container table td.td_skill { text-align: left;}
table tr td.td_graph { position: relative; padding-right: 50px;}
span.graph_bg, span.graph_bg em, strong.graph_point, strong.graph_rank { display: block;}
span.graph_bg { margin-left: 7px;background: #e3e3e3;}
span.graph_bg em { height: 20px;}
strong.graph_point { position: absolute; top: 8px; right: 10px; width: 30px; text-align: left;}
strong.graph_rank { position: absolute; top: 8px; right: 1px;}
strong.graph_rank em { font-style: inherit;}
table tr td.td_rank { height: 47px; padding: 3px; text-align: center;}
table tr td.td_rank img { width: 15%; margin: 3px;}

		html, body {
				overflow-x: hidden;
			}

	#header {
		-ms-box-sizing: content-box;
		margin-top: 20px;
		padding: 10px;
		border-top: 1px solid #6291f2;
		border-bottom: 1px solid #6f56cd;
		text-align: center;}

	#header h1 {
			color: #fff;
			font-size: 1.8em;
			letter-spacing: -2px;
			margin: 0 0 10px 0;}

	#header h1 a {color: #fff;text-decoration: none;font-weight: bold;}

	#header nav {font-size: 1.4em;}

	#header nav a {display: inline-block;text-decoration: none;color: #fff;outline: 0;margin-right: 10px;}
	#header nav a:last-child{margin-right: 0;}

				#header nav a.current-page-item {
					background-image: -moz-linear-gradient(top, #007b99, #007897);
					background-image: -webkit-linear-gradient(top, #007b99, #007897);
					background-image: -ms-linear-gradient(top, #007b99, #007897);
					background-image: linear-gradient(top, #007b99, #007897);
					background-color: #007897;
					box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px rgba(255, 255, 255, 0.1);
				}

				#header nav a:hover {color: #777cff;}


/* Banner */
	
	#banner-wrapper {position: relative;height: 600px;top: 32%;z-index: -1;}
	#banner {
		position: relative;
		width: 100%;
		padding: 6em 0;
		border-radius: 10px;
		background-image: url(bg/bg_banner.webp);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 0 20px #fff;
	}
		#banner h2 {font-size: 3.3em;color: #fff;letter-spacing: -2px;margin: 0;}

		#banner span {
			display: block;
			left: 0;
			margin: 0.5em 0 0 0;
			font-size: 1.6em;
			color: #fff;
			letter-spacing: -1px;
			text-transform: lowercase;
			opacity: 0.8;
		}


/* Footer */
	#footer-wrapper {padding: 4em 0;}
	#copyright {text-align: center;color: #697688;line-height: 24px;}
	#copyright a {color: #7e84d2;text-decoration: none;}



/* Small */

#titleBar {display: none;}
#titleBar .toggle{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #000 no-repeat center;
    background-size: 25px;
    float: left;
    margin: 2px 0 0 5px;
}

#navPanel{display:none;height: 100%;left: 0;overflow-y: auto;position: fixed;top: 0;width: 200px;z-index: 100;background: #030f1f;color: #fff;}
.nav-visible #navPanel{display:block;}


#navPanel .link{display: block;color: #fff;border-bottom: solid 1px #192f4b;padding: 15px;text-decoration: none;font-size: 16px;}


@media  {

			#banner {padding: 6em 0;}
			#banner h2 {font-size: 2.5em;}


	}


#banner-wrapper .container img {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}
#banner-wrapper .container .txt{
    z-index: 3;
    width: 240px;
    margin-top: 276px;
    left: 4px;
}


@keyframes circle{
from{transform:rotate(0deg);)}
to{transform:rotate(360deg);)}
	
}

#banner-wrapper .container .circle{
    z-index: 2;
    width: 550px;
    animation-name: circle;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}



#banner-wrapper .container .spaceBg{z-index: 1;min-width: 1300px;transform: inherit;position: relative;left: -84px;}
#banner-wrapper img {width: 100%;}
p.other-names {font-size: 15px;}
#misc-content {display: none;}



@media screen and (max-width: 550px) {
	#banner-wrapper{}
	#header nav a{font-size: 19px;}
	#banner-wrapper .container .circle{width: 100%;}
	#banner-wrapper .container .txt{width: 45%;}
}


@media screen and (max-width: 359px) {

	#header{font-size: 15px;}
	#header h1{}
	#header nav a{font-size: 16px;}
	#banner-wrapper .container .circle{/* width: 320px; *//* margin-top: 9px; *//* margin-left: 1px; */}
	#copyright{font-size: 15px;}
}
 
@media screen and (max-width: 980px) {
		
			#page-wrapper {padding-top: 44px;}
			.nav-visible #page-wrapper{transform: translateX(200px);transition-duration: 1s;}
			#header {display: none;}
			#titleBar {
				display: block;
				left: 0;
				position: fixed;
				top: 20px;
				width: 100%;
				text-align: center;
				color: #fff;
				font-weight: bold;
				z-index: 10;
				padding: 5px 0;
				font-size: 1.5em;
				border-top: 1px solid #6291f2;
				border-bottom: 1px solid #6f56cd;
			}
			#navPanel.navPanel-visible {
				display: block;
				left: 0;
				overflow-y: auto;
				height: 100%;
				position: fixed;
				top: 0;
				width: 200px;
				z-index: 10002;
				background: #030f1f;
				color: #fff;
				font-size: 18px;
				transform: translateX(0px);
				animation-name: navPane1;
				animation-duration: 15s;
			}
}


@media screen and (max-width: 736px) {
		
			body {font-size: 13pt;}
			h2 {font-size: 1.4em;}
			h3 {font-size: 1.2em;}
			h4 {font-size: 1em;}

			ul.small-image-list li img {width: 100px;}
			ul.big-image-list li img {width: 100px;}
			ul.link-list {margin: 0 0 1em 0;}
			article.blog-post .comments {display: block;position: relative;top: -0.5em;margin: 0 0 0.5em 0;}
			.button {font-size: 1em;}
			.blog-post-image {width: 100%;}

			#banner {box-shadow: inset 0 0 0 10px #fff;padding: 4em 1em;}
			#banner h2 {font-size: 2em;letter-spacing: -2px;line-height: 1.25em;}
			#banner span {font-size: 1.25em;letter-spacing: -1px;line-height: 1.25em;}

			#footer-wrapper {padding: 40px 0;}

	}

@media screen and (min-width: 1150px){
	#banner-wrapper .container .spaceBg{left:0;}
} 
